.nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(18, 128, 153);
  color: #fff;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.nav-item:hover {
  color: #ccc;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}
